@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}

body {
  font-size: 1.4rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  background: var(--lighting-color);
}
/* 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


nav ul {
  display: flex;
  gap: 1rem;
}
nav li {
  font-size: 1.8rem;
  border-bottom: 0.4rem transparent solid;
  transition: 0.3s ease-in-out;
}

nav li:hover {
  border-bottom: 0.4rem var(--secondary-color) solid;
  transition: 0.3s ease-in-out;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
} */



nav{
  font-size: 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
}
nav a:hover{
  transition: 0.3s ease-in-out;
  background-color:#FFFFFF;
  color: #003251;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
  a svg {
            fill: white; /* This changes the color of the SVG to white */
        }

        a svg:hover {
          fill: black; /* This changes the color of the SVG to white */
      }
#hero {
  background: var(--darker-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--lighting-color);
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #0085B1;
  background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
  margin-top: 10px;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

#hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero_image{
  width: 300px;
  height: 300px;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  background-image: url("images/my_pic.png");
  background-size: cover;
  background-position: center;
}
.hero_content {
  display: grid;
  place-items: center;
}

#hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hi_text {
  font-size: 6rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.name_text {
  font-size: 4rem;
  font-weight: bold;
}

#hero h2 {
  font-size: 4rem;
  font-weight: bold;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Project Section */
#project {
  background: var(--darker-color);
  padding: 4rem 0;
}

#project h2 {
  font-size: 6rem;
  text-align: center;
  margin: 2rem 0;
  animation: fadeIn 2s;
}

.project_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.grid_item {
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.card img{
  width: 400px;
  height: 220px;
  background-size: cover;
}

.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}

.card:hover .card_content{
  background: white;
  color: var(--dark-color);
  display: block;
}

.card_content {
  padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.5s ease-in-out;
  display: none;
}

.card_content h3 {
  text-align: center;
}
.card_content h4{
  text-align: center;
}
.card_content h4 a {
  text-decoration: none;
  color: inherit; /* Inherit color from h4 */
}
/* Contact Section */
#contact {
  height: 400px;
  width: 100%;
  background: var(--dark-color);
  padding-top: 30px;
}

#contact h2 {
  font-size: 6rem;
  text-align: center;
  margin: 2rem 0;
  animation: fadeIn 2s;
}

#contact .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 0;
  margin-left: 15px;
  margin-bottom: 30px;
}
legend h3{
  font-size: 20px;
}
.top_contact, .bottom_contact {
  max-width: 800px;
  display: grid;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.contact_way {
  display: flex;
  gap: 1rem;
  align-items: center;
  animation: fadeIn 2s;
}

.contact_way i {
  font-size: 3rem;
}

.contact_way h3 {
  font-size: 3rem;
  font-weight: bold;
}
/* Sign-up Page Coding */
#signup_section {
  width: 700px;
  box-sizing: border-box;
  float: right;
  padding: 0;
  margin: 0;
}


#signup_fieldset {
  width: 350px;
  height: 340px;
  margin-top: -20px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  margin-left: 250px;
  margin-bottom: 50px;
  padding: 25px;
}

#username1, #email, #number {
  width: 100%;
  height: 30px;
  background-color: inherit;
  border: none;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
  color: white;
  font-size: 17px;
}

#login_button {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  border: none;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}


/* certification Section */
#certification {
  background: var(--darker-color);
  border-bottom: 4px solid var(--lighting-color);
  padding: 2rem 0;
}
#certification h2 {
  font-size: 6rem;
  text-align: center;
  margin: 6rem 0;
  animation: fadeIn 2s;
}

.project_con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 4rem;
}

.grid_item {
  display: grid;
  place-items: center;
}

.card_con{
  width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_con img{
  width: 700px;
  height: 550px;
  background-size: cover;
}
.certificate_name{
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

/* Footer */
footer {
  background: black;
  padding: 2rem;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .contact_info h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer .contact_info p {
  font-size: 1.6rem;
  text-align: center;
}

footer .social_links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer .social_links a {
  font-size: 2rem;
  transition: transform 0.3s;
}

footer .social_links a:hover {
  transform: scale(1.2);
}

#login_button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Query */
@media (max-width: 786px) {
  html {
    font-size: 40%;
  }
  #hero .container {
    flex-direction: column;
  }
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .hero_image {
    display: grid;
    place-items: center;
  }
  #contact .container {
    height: auto;
    padding: 1rem;
  }
  footer .container {
    padding: 1rem;
  }
  footer .contact_info h2 {
    font-size: 3rem;
  }
  footer .contact_info p {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 32%;
  }
  .sidebar{
    width: 100%;
    z-index: 1;
  }
  #hero .container {
    flex-direction: column;
  }
  #signup_section{
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  #signup_fieldset{
    width: 300px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #contact{
    height: 500px;
  }
  .hero-content{
    text-align: center;
  }
  
  .hero_image {
    display: grid;
    place-items: center;
  }
  #contact .container {
    height: auto;
    padding: 1rem;
  }
  .card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    gap: 0;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0; /* Remove gap between cards */
  }
  .card_con{
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
  }
  .project_con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  .card_con img{
    width: 300px;
    height: 300px;
    background-size: cover;
  }
  footer .container {
    padding: 1rem;
  }
  footer .contact_info h2 {
    font-size: 2.5rem;
  }
  footer .contact_info p {
    font-size: 1.2rem;
  }
}
